extend ../../layout

block content
    <nav class="navbar navbar-default navMain">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" id="product-backlog-btn">Product Backlog <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#">Release Backlog</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle rightNav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sprints<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Sprint 1</a></li>
                <li><a href="#">Sprint 2</a></li>
                <li><a href="#">Sprint 3</a></li>
            </ul>
            </li>
        </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    div()
        each history in data.project.scrum.productBacklog.histories
            <div class="card-containerBack">
                <div class="cardBack row card">
                    <div class="front col">
                        <div>
                            <b class="productBackB">Narrativa</b>
                        </div>
                        <div>
                            <b class="productBackTitle">Prioridad | Tamaño</b>
                            <p class="productBackSpan"> #{history.priority} | #{history.size}</p>
                        </div>
                        <div>
                            <b class="productBackTitle">Como</b>
                            <p class="productBackSpan"> #{history.narrative.how}</p>
                        </div>
                        <div>
                            <b class="productBackTitle">Quiero</b>
                            <p class="productBackSpan"> #{history.narrative.want}</p>
                        </div>
                        <div>
                        <b class="productBackTitle">De Tal Manera</b>
                            <p class="productBackSpan"> #{history.narrative.way}</p>
                        </div>
                    </div>
                    <div class="back">
                        <div>
                            <b class="productBackB2">Criterios de aceptacion</b>
                        </div>
                        <div>
                            <b class="productBackTitle">Dado</b>
                            <p class="productBackSpan2"> #{history.criteria.given}</p>
                        </div>
                        <div>
                            <b class="productBackTitle">Cuando</b>
                            <p class="productBackSpan2"> #{history.criteria.when}</p>
                        </div>
                        <div>
                            <b class="productBackTitle">Entonces</b>
                            <p class="productBackSpan2"> #{history.criteria.then}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    script(src="/scripts/project.js")
    script(src="/scripts/cardHistoryBehavior.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js")