extend ../../layout

block content
    <nav class="navbar navbar-default navMain">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav"> 
            <li class="active"><a href="#">Product Backlog <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#">Release Backlog</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle rightNav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sprints<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Sprint 1</a></li>
                <li><a href="#">Sprint 2</a></li>
                <li><a href="#">Sprint 3</a></li>
            </ul>
            </li>
        </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div class="panel panel-default">
        <div class="panel-body">
            span(id="project-id" style="display:none;") #{data.project._id}
            <b class="titleProject"> Nombre del proyecto<b/>
            <p class="bodyProject">#{data.project.name}</p>
            <b class="titleProject">Descripcion</b>
            <p class="bodyProject">#{data.project.description}</p>
            <b class="titleProject">Fecha de solicitud</b>
            <p class="bodyProject"> #{data.project.requestDate}</p>
            <b class="titleProject">Fecha de arranque</p> 
            <p class="bodyProject">#{data.project.startDate}</p>

        </div>
        <div class="panel-footer">
            <b class="titleProject"> Miembros del equipo<b/>
            div(id="teamMembers-container" class="teamMembers-container")
                div(class="tag user-tag") 
                    div() 
                        <span>Creador</span>                        
                    div() #{data.project.owner.fullName}
                each teamMember in data.project.teamMembers           
                    div(class="tag user-tag") 
                        div() Rol: 
                            <span>#{teamMember.role}</span>
                            icon(class="tag-remove-btn glyphicon glyphicon-trash" id=teamMember.member._id)
                        div() #{teamMember.member.fullName}
                        
                           
                span(class="add-tag tag" id="add-tag") agregar                            
                include ../../components/userTagForm.pug          
        </div>
    </div>
    script(src="/scripts/project.js")